.DS_Store
__pycache__/
*.py[cod]
*.so
*.dylib
*.swp
*.swo
.ipynb_checkpoints/
.env
.venv/
venv/

cifar10/
cifar100/
cifar/cifar10/
cifar/cifar100/

figure/
cifar/figure/
wandb/
runs/

*.pt
*.pth
*.pth.tar
*.ckpt

imagenet/*_log_*.txt
